@use '../config/config' as *;

#signup {
  padding-top: 2rem;

  .navigation-bar {
    margin-bottom: 2rem;
  }

  .signup {
    &--page {
      display: flex;
      height: 100vh;

      img {
        width: 50%;
        height: inherit;
      }
    }

    &--form {
      margin: 5rem auto;
      width: 40%;

      h1 {
        margin-bottom: 2rem;
      }

      h3 {
        color: $dark-color;
      }

      form {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        color: #263238;
        width: 75%;
        margin: 0 auto;

        a {
          color: $primary-color;
        }

        input {
          padding: 1rem;
          font-size: 1em;
          outline: 0;
          height: 50px;
          border-radius: 5px;
          border: 2px solid #263238;
          flex: 1;

          &:nth-child(1),
          &:nth-child(2) {
            flex: 1 auto;
            width: 45%;
          }

          &[type="checkbox"] {
            height: 15px;
            width: 15px;
            margin-right: 1rem;
          }

          &[type="button"] {
            border: none;
            height: auto;
            font-weight: 700;
            flex: 0;
          }
        }
      }
    }
  }
}
